@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./animation.scss";
@import "./modal.scss";


@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: local("Poppins"),
        url("https://fonts.cdnfonts.com/s/16009/Poppins-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"),
        url(../fonts/montserrat/montserrat-regular.woff) format("woff");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    src: local("sf-pro-display"),
        url(../fonts/sf-pro-display/0b51833ff62e4af8acb5fd3e2bf59e97.woff) format("woff");
}

@font-face {
    font-family: "Nebula";
    font-style: normal;
    font-weight: 200;
    src: local("Nebula"),
        url(../fonts/nebula/Nebula-Regular.woff) format("woff");
}

@font-face {
    font-family: "Blank Space";
    font-style: normal;
    font-weight: 200;
    src: local("Blank Space"),
        url(../fonts/blank-space/BlankSpace-Eaggz.woff) format("woff");
}


.hero__img {
    width: 30rem;
}

.bg-gradient-custom {
    @apply bg-gradient-to-r from-blue-900 to-blue-500 text-white;
}


.bg-gradient-search {
    background: linear-gradient(90deg, rgba(132, 104, 168, 0.108) 0%, rgba(132, 104, 168, 0.108) 54.47%, rgba(132, 104, 168, 0.108) 100%);
}

.bg-gradient-lend {
    background: radial-gradient(50% 50% at 50% 50%, #7FC04B 0%, #79C550 100%);
}

.bg-gradient-range-amount {
    background: linear-gradient(90deg, #7ADE57 0%, #DE3A2C 100%);
}

.bg-gradient-border {
    border: 2px solid rgba(35, 210, 126, 1)
}


.btn-modal-veb {
    font-size: 16px;
    font-family: 'Poppins';
    line-height: 28px;
    text-align: center;
    padding: .5rem 2.5rem;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: rgba(48, 46, 73, 1);
    display: block;
}

.bg-btn-veb {
    background: linear-gradient(91.96deg, #33B576 0%, rgba(23, 129, 188, 0.87) 100%);
}

.bg-btn-veb-disabled {
    background: #393755 !important;
    color: rgb(104, 103, 103) !important;
}

.bg-success {
    background: #3c8260;
}

.bg-pending {
    background: #FA8C16;
}

.btn-connect-wallet {
    cursor: pointer;
    font-weight: 500;
    border-radius: 32px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins";
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;

    background: linear-gradient(91.96deg, #33B576 0%, rgba(23, 129, 188, 0.87) 100%);
}

.btn-connect-wallet:hover {

    background: linear-gradient(91.96deg, rgb(51 181 118 / 75%) 0%, rgb(23 129 188 / 75%) 100%);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}

.btn-veb {
    cursor: pointer;
    padding: .35rem 2.5rem;
    font-weight: 500;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins";
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;
    background: linear-gradient(91.96deg, #33B576 0%, rgba(23, 129, 188, 0.87) 100%);
}

.box-borrows {
    background-image: url("https://s3-alpha-sig.figma.com/img/9160/0636/26ab7f857c705901a4766c266054b4c4?Expires=1651449600&Signature=QL10LsIfIX8eZs1ROr0naGEuDEbjpcKFikjnZjbJl7aE~j22-c7oHehsQjMbDEerrFEtHATRd1FiLncaMaH7lD9Xi1xRw~uuVLzZen~hvEzgMUaMEyi0gzuMKYTbgWyvZVsxjZk4jJHo~piMQov8R1YnWRphxTnPjcJjw6fnAHEs24WwzUoowGuM4whGOyHfinaAmsJuW9cB-nHi1P0Vn4lULUYO6puSf7TnDNEvSlVQwskyC6Hlle3pG-d6rbzR1~Yg297YYZl8AV1o7E0rCx-TFWe4Q6RvhlyqAUVcvVXx-XTpqaHVScfgA-p~OydE61AAhhxXv8u~-StjVPaR4A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: 56%;
    background-repeat: no-repeat;
    background-position: top right;
}

.btn {
    @apply uppercase font-bold px-10 py-4 rounded inline-flex;
}

footer {
    background-color: #051338;
}

.img-scale-1-1 {
    transition: all .2s ease-in-out;
}

.img-scale-1-1:hover {
    transform: scale(1.1);
}



.tab-market {
    width: fit-content;
    height: auto;
    border: 1px solid #D2C0F14D;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 4px;
    border-radius: 24px;
}

.tab-market a {
    font-family: "Poppins";
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 1px;
    padding: 0.45rem 2.5rem;
    display: inline-block;
}

.tab-market .active {
    background: linear-gradient(91.96deg, #33B576 0%, rgba(23, 129, 188, 0.87) 100%);
    border-radius: 32px;
}

.box_home {
    background-image: url('../images/home/bg_home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: padding-box;
    background-position: center;
    overflow: hidden;
}


.box-border-gr {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 3px #39C5F1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.blend-dodge {
    mix-blend-mode: color-dodge;
}


.box_home-round {
    background-image: url('../images/home/bg_round.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: color-dodge;
    height: 500px;
    min-width: 500px;
}

.box_home-round img {
    mix-blend-mode: dodge;
}

.bg-light-shadow {
    box-shadow: 0px 0px 40px 2px rgb(0 255 255 / 30%);
}